.dialogHeader {
    min-height: 36px;
}

.dialogCloseButton {
    right: 3px;
    top: 3px;
    position: absolute !important;
    min-height: 30px !important;
    max-height: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    margin: 0;
    background-color: transparent !important;
    text-align: center;
}
.dialogHeader {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    min-height: 30px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 40px;
    border-bottom: solid 1px #ebebeb;
}
.dialogBody {
    padding: 10px;
}
.dialogCloseIcon {
    bottom: 2px;
    position: relative;
    font-size: 18px;
}
.emailMessage {
    min-width: 400px;
    height: 140px;
}
