
.dialogCloseButton {
    right: 3px;
    top: 3px;
    position: absolute !important;
    min-height: 30px !important;
    max-height: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    margin: 0;
    background-color: transparent !important;
    text-align: center;
}
.dialogHeader {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    min-height: 30px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 40px; 
    border-bottom: solid 1px #ebebeb;
    text-align: center;
}
.dialogBody {
    padding: 10px;
    overflow: auto
}
.dialogCloseIcon {
    bottom: 2px;
    position: relative;
    font-size: 18px;
}
.emailMessage {
    min-width: 400px;
    height: 140px;
}
md-dialog.largeDialog {
    max-width: 860px;
    max-height: 90%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.dialogInput {
    min-width: 300px;
    margin: 5px;
}