
ul {
    padding: 0;
    list-style-type: none;
}
md-fab-toolbar .md-fab-toolbar-wrapper {
    height: 55px !important;
}
md-fab-actions {
    height: 55px !important;
}
md-fab-toolbar.md-left md-fab-trigger {
    right: 10px !important;
}
md-fab-toolbar md-fab-trigger .md-fab-toolbar-background {
    background-color: #201a5b !important;
}
md-content.md-default-theme, md-content {
    background-color: #fafafa !important;
}
md-dialog {
    background-color: #fafafa !important;
}
.dialogBanner {
    width: 250px;
    height: 80px;
}
.darkgrey {
    color: #757575;
}
.darkHeader {
    background-color: #201a5b !important;
    color: #fff;
}
.darkFont {
    color: #201a5b !important;
}
.stretch {
    width: 100%;
    height: 100%;
}
.bgImage {
    height: 550px;
    width: 100%;
}
.navButton {
    margin-bottom: 5px !important;
}

.contentContainer {
    background-color: #fafafa;
    position: relative;
    top: -50px;
}
.bioContainer {
    width: 80%;
    max-width: 350px !important;
    min-height: 198px;
    padding: 0 10px;
}
.bioFrame {
    width: 100%;
    display: block;
    height: 190px;
    padding: 0;
    font-size: 13px;
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}
.bioTitle {
    margin:5px 0 8px 0;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ebebeb;
}
.bioBody {
    padding: 0 10px;
    display: block;
}
.profileContainer {
    width: 80%;
    max-width: 250px !important;
    max-height: 200px !important;
}
.profilePicContiner {
    height: 190px;
    width: 190px;
    margin-left: 3px;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}
.profilePic {
    height: 190px;
    width: 190px;
    margin-left: 0px;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}

.contentRow {
    /*border:solid 1px grey;*/
    width: 90%;
    height: 170px
}
.socialButton {
    max-height: 38px;
    max-width: 38px;
}
.socialIcon {
    font-size: 18px;
    margin-top: 3px;
    display: block;
}
.footerContainer {
    min-height: 30px;
    height: 30px;
    margin-top: 30px;
}
.preserveWhiteSpace {
    white-space: pre;
}
.copyrightText {
    font-size: 11px;
    margin: 8px;
}
.xFlip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.md-dense :not(.md-dense-disabled) .md-button:not(.md-dense-disabled), .md-dense>.md-button:not(.md-dense-disabled) {
    min-height: 20px !important;
    line-height: 20px !important;
}

.singleLineListEntry {
    height: 20px !important;
    max-height: 20px !important;
    min-height: 20px !important;
    line-height: 20px !important;
}
.schoolFrame {
    margin: 5px !important;
    height: 510px;
}
.schooolSummary {
    width: 230px;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #ebebeb;
}
.schooolListHeader {
    padding: 10px 10px 0 10px;
    font-size: 18px;
    font-weight: 300;
}

.projectsImageFrame {
    height: 210px;
    width: 310px;
    display: block;
    padding: 5px;
    margin: 5px;
}

.projectHeader {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.projectsSummary {
    max-width: 636px;
    padding: 0px 10px;
    font-size: 13px;
}
.projectsTextFrame {
    padding: 20px;
    font-size: 13px;
}

.fishDemo {
    width: 300px;
    height: 155px;
    min-width: 300px;
    max-width: 300px !important;
    margin: 10px;
}
.opensourceFishSummary {
    width: 280px;
    min-width: 280px;
    display: block;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
}
.xsSquareFrame {
    width: 140px;
    height: 140px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
}
.fishFrame {
    height: auto;
    width: 310px;
    display: block;
    padding: 5px;
    margin: 5px;
    min-height: 170px;
}
.fishFrameImage {
    position: absolute;
    width: 130px;
}
.fishFrameText {
    width: auto;
    font-size: 13px;
    margin-left: 140px;
    display: block;

}
.fishIcon {
    height: 60px;
    width: 60px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-left: 50%;
    left: -30px;
    position: relative;
}
.fishFateText {
    font-size: 13px;
    padding: 5px 20px;
    display: block;
}
.googlePlayButton {
    width: 80%;
    margin-left: 10%;
}
.wideFrame {
    width: auto;
    height: auto;
    display: block;
    padding: 10px;
    max-width: 500px;
    font-size: 13px;
}

