/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

@media (hover: none) {
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: none;
    }
}

.flip-container, .front, .back {
    width: 140px;
    height: 140px;
    position: relative;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
.tileOverlay {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.tileIntro {
    position: absolute;
    height: 120px;
    width: 120px;
    top: 0;
    left: 0;
    padding: 10px;
    color: #FFF;
    font-size: 13px;
    text-align: center;
}
.tileContainer {
    /*border:solid 1px grey;*/
    height:165px;
    width:140px;
    min-width: 140px;
}
.tileLabel {
    bottom: 5px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
}
.tileImage {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}