<md-content ng-show="dialog.isOpensource">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-center-tabs="">
        <md-tab label="{{dialog.content.fishFate.tabLabel}}" >
            <md-content class="md-padding" style="overflow:scroll">




                <div class="projectHeader">{{dialog.content.fishFate.header}}</div>
                <div layout="row" layout-align="center center" layout-xs="column">
                    <md-whiteframe class="md-whiteframe-2dp opensourceFishSummary" flex="20">
                        {{dialog.content.fishFate.summary}}
                        <md-button class="md-button darkHeader googlePlayButton" 
                            ng-click="delayRedirect(dialog.content.fishFate.repoLink)">
                            <i class="fa fa-github" aria-hidden="true" style="font-size: 18px"></i>
                            {{dialog.content.fishFate.repoLabel}}
                        </md-button>
                    </md-whiteframe>
                    <div class="fishDemo" flex="70">
                        <img class="stretch" ng-src="img/fishFate/fishDemo.gif" />
                    </div>
                </div>
                
                <div layout="row" layout-align="center center" layout-xs="column">

                    <md-whiteframe class="md-whiteframe-2dp fishFrame">
                        <div class="projectHeader">{{dialog.content.fishFate.setupHeader}}</div>
                        <div class="fishFrameImage">
                            <img class="stretch" ng-src="img/fishFate/fishSetup.png" />
                        </div>
                        <span class="fishFrameText">
                            {{dialog.content.fishFate.setupDescribe}}                            
                        </span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-2dp fishFrame">
                        <div class="projectHeader">{{dialog.content.fishFate.movementHeader}}</div>
                        <div class="fishFrameImage">
                            <img class="stretch" ng-src="img/fishFate/fishPosition.png" />
                        </div>
                        <span class="fishFrameText">
                            {{dialog.content.fishFate.movementDescribe}}
                        </span>
                    </md-whiteframe>
                </div>

                <div layout="row" layout-align="center center" layout-xs="column">
                    <md-whiteframe class="md-whiteframe-2dp fishFrame">
                        <div class="projectHeader">{{dialog.content.fishFate.distributionHeader}}</div>
                        <div class="fishFrameImage">
                            <img class="stretch" ng-src="img/fishFate/fishGraph.png" />
                        </div>
                        <span class="fishFrameText">
                            {{dialog.content.fishFate.distributionDescribe}}
                        </span>
                    </md-whiteframe>

                    <md-whiteframe class="md-whiteframe-2dp fishFrame">
                        <div class="fishIcon">
                            <img class="stretch" ng-src="img/fishFate/fishIcon.png" />
                        </div>
                        <span class="fishFateText">
                            {{dialog.content.fishFate.googleDescribe}}
                        </span>
                        <md-button class="md-button darkHeader googlePlayButton" 
                            ng-click="delayRedirect('https://play.google.com/store/apps/details?id=com.ionicframework.fishfate542805')">
                            <i class="fa fa-google" aria-hidden="true" style="font-size: 18px"></i>
                            {{dialog.content.fishFate.googleLabel}}
                        </md-button>
                    </md-whiteframe>
                </div>    

            </md-content>
        </md-tab>


        <md-tab label="{{dialog.content.voiceSynth.tabLabel}}">
            <md-content class="md-padding" style="overflow:scroll" layout="column" layout-align="center center">
                <div class="projectHeader">{{dialog.content.voiceSynth.header}}</div>
                <md-whiteframe class="md-whiteframe-2dp wideFrame">
                    {{dialog.content.voiceSynth.summary}}
                    <md-button class="md-button darkHeader googlePlayButton" 
                            ng-click="delayRedirect(dialog.content.voiceSynth.repoLink)">
                        <i class="fa fa-github" aria-hidden="true" style="font-size: 18px"></i>
                        {{dialog.content.voiceSynth.repoLabel}}
                    </md-button>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-2dp wideFrame">
                    {{dialog.content.voiceSynth.demoDescribe}}
                    <md-button class="md-button darkHeader googlePlayButton" 
                            ng-click="delayRedirect(dialog.content.voiceSynth.demoLink)">
                        {{dialog.content.voiceSynth.demoLabel}}
                    </md-button>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-2dp wideFrame">
                    <img style="max-width: 100%;" ng-src="{{dialog.content.voiceSynth.demoImage}}">
                </md-whiteframe>
            </md-content>
        </md-tab>

        <md-tab label="{{dialog.content.rmls.tabLabel}}">
            <md-content class="md-padding" style="overflow:scroll" layout="column" layout-align="center center">
                <div class="projectHeader">{{dialog.content.rmls.header}}</div>
                <md-whiteframe class="md-whiteframe-2dp wideFrame">
                    {{dialog.content.rmls.summary}}
                    <md-button class="md-button darkHeader googlePlayButton" 
                            ng-click="delayRedirect(dialog.content.rmls.repoLink)">
                        <i class="fa fa-github" aria-hidden="true" style="font-size: 18px"></i>
                        {{dialog.content.rmls.repoLabel}}
                    </md-button>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-2dp wideFrame">
                    <img style="max-width: 100%;" ng-src="{{dialog.content.rmls.demoImage}}">
                </md-whiteframe>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
