<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="css/tileFlip.css">
        <link rel="stylesheet" href="css/dialog.css">
        <link rel="stylesheet" href="css/terminal.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="asakawaApp" ng-controller="appController">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <img src="img/galaxy.png" class="bgImage" alt="" du-parallax y="background" />
        <div ng-include="'templates/terminal.html'"></div>

        <div class="contentContainer">

            <md-fab-toolbar md-open="false" count="0" md-direction="left">
                <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-mini darkHeader">
                        <md-icon style="display: unset">
                            <!-- Put what ever youwant here -->
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                        <md-button class="navButton" 
                            aria-label="email"
                            ng-click="email($event)">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            &nbsp;Email
                        </md-button>
                        <md-button class="navButton" 
                            aria-label="phone"
                            ng-click="phone($event)">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            &nbsp;Phone
                        </md-button>
                        <md-button class="navButton" 
                            aria-label="resume"
                            ng-click="resume($event)">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            &nbsp;Resume
                        </md-button>
                    </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>


            <div layout="row" layout-align="center center" layout-xs="column" style="margin-top:20px;">
                <div flex-xs="90" flex-gt-xs="60" 
                    class="bioContainer" 
                    layout-align="center center">
                    
                    <md-whiteframe class="md-whiteframe-2dp bioFrame">
                        <h4 style="margin:0 0 8px 0">{{content.bio.title}}</h4>
                        <span>{{content.bio.body}}</span>
                    </md-whiteframe>
                </div>
                <div flex-xs="90" flex-gt-xs="25" class="profileContainer" layout="row" >
                    <md-whiteframe class="md-whiteframe-2dp profilePicContiner">
                        <img class="profilePic" src="img/profilePic.png" />
                    </md-whiteframe>
                    <div style=" width: 80%;max-width: 55px;min-height: 194px;">

                        <md-button class="md-fab socialButton darkHeader"
                            ng-repeat="item in socialMedia" 
                            ng-style="$first ? {'margin-top':'0'} : {'margin-top':'5px'}" 
                            aria-label="{{item.label}}"
                            ng-click="clickSocialMedia(item.url)">
                            <i class="{{item.iconClass}} socialIcon" aria-hidden="true"></i>
                        </md-button>

                    </div>
                </div>
            </div>
            <div layout="row" layout-align="center center" layout-xs="column" style="margin-top:20px">
                <div flex-xs="90" flex-gt-xs="45" class="contentRow" layout="row" layout-align="center center">
                    <span flex-xs="5" flex-gt-xs=""></span>
                    <div class="tileContainer">
                        <span class="tileLabel">Academia</span>
                        <div class="flip-container" 
                            ontouchstart="this.classList.toggle('hover');"
                            ng-click="">
                            <div class="flipper">
                                <md-whiteframe class="md-whiteframe-2dp front">
                                    <img class="tileImage" src="img/academia.png">
                                    <!-- front content -->
                                </md-whiteframe>
                                <md-whiteframe class="md-whiteframe-2dp back">
                                    <!-- back content -->
                                    back
                                </md-whiteframe>
                            </div>
                        </div>
                    </div>
                    <div flex-xs="10" flex-gt-xs="16" flex-sm="20" flex-gt-sm="20"></div>
                    <tile-flip image-path="'img/academia.png'"
                        tile-header="'Projects'"
                        tile-intro="'Academic Achievements at Portland State University and Portland Community College'">        
                    </tile-flip>
                    <div flex-xs="5" flex-gt-xs="8" flex-sm="10" flex-gt-sm="10"></div>

                </div>
                <div flex-xs="90" flex-gt-xs="45" class="contentRow" layout="row" layout-align="center center">

                    <div flex-xs="5" flex-gt-xs="8"; flex-sm="10" flex-gt-sm="10"></div>
                    <div class="tileContainer">
                        <span class="tileLabel">Open Source</span>
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <md-whiteframe class="md-whiteframe-2dp front">
                                    <!-- front content -->
                                    front
                                </md-whiteframe>
                                <md-whiteframe class="md-whiteframe-2dp back">
                                    <!-- back content -->
                                    back
                                </md-whiteframe>
                            </div>
                        </div>
                    </div>
                    <div flex-xs="10" flex-gt-xs="16"; flex-sm="20" flex-gt-sm="20"></div>
                    <div class="tileContainer">
                        <span class="tileLabel">Freelance</span>
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <md-whiteframe class="md-whiteframe-2dp front">
                                    <!-- front content -->
                                    front
                                </md-whiteframe>
                                <md-whiteframe class="md-whiteframe-2dp back">
                                    <!-- back content -->
                                    back
                                </md-whiteframe>
                            </div>
                        </div>
                    </div>

                    <span flex-xs="5" flex-gt-xs=""></span>
                </div>
            </div>
            <md-toolbar class="footerContainer darkHeader">
                    footer
            </md-toolbar>
        </div>

        <div style="visibility: hidden">
            <div class="md-dialog-container" id="dialog">
                <md-dialog ng-class="dialog.isLarge ? 'largeDialog' : ''">
                    <span class="dialogHeader">{{dialog.content.header}}</span>
                    <div class="dialogBody" ng-show="!dialog.isResume">
                        {{dialog.content.body}}

                        <div ng-show="dialog.isPhone"
                            style="margin-top:10px" 
                            layout="row" 
                            layout-align="center center" 
                            class="phoneButtonContainer">
                            <a href="tel:{{contactInfo.phone}}">
                                <md-button class="md-button md-primary md-raised darkHeader">
                                    call me @ {{contactInfo.phone}}
                                </md-button>
                            </a>
                        </div>
                        <md-container ng-show="dialog.isEmail">
                            <form name="emailForm"> 
                                <md-input-container class="md-block" >
                                    <label>Name</label>
                                    <input ng-model="emailObject.name">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input ng-model="emailObject.returnEmail">
                                </md-input-container>
                                <md-input-container class="md-block emailMessage">
                                    <label>Message</label>
                                    <textarea ng-model="emailObject.message" rows="4">
                                    </textarea>
                                </md-input-container>
                            </form>
                            <div layout="row" layout-align="center center">
                                <md-button class="md-button md-primary md-raised darkHeader"
                                    ng-click="cancelEmail();">
                                    Cancel
                                </md-button>
                                <md-button class="md-button md-primary md-raised darkHeader"
                                    ng-click="sendEmail();">
                                    Send
                                </md-button>
                                
                            </div>
                        </md-container>
                    </div>
                    <md-button class="md-button dialogCloseButton" ng-click="closeDialog()" aria-label="close dialog">
                        <i class="fa fa-times dialogCloseIcon darkFont" aria-hidden="true"></i>
                    </md-button>
                    <div layout="row" ng-show="dialog.isConfirm"></div>
                    <md-container ng-show="dialog.isResume">
                        <embed src="files/resume.pdf" width="100%" height="100%" type="application/pdf" style="position:absolute;">
                            <p>Your web browser doesn't have a PDF plugin.
                                Instead you can 
                                <a href="files/resume.pdf" style="z-index: 3">click here to download the PDF file.</a>
                            </p>
                        </embed>
                    </md-container>
                </md-dialog>
            </div>
        </div>


        <!-- JS Resources -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="application/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="application/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="application/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
        <script type="application/javascript" src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <script type="application/javascript" src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
        <script type="application/javascript" src="js/angular-parallax.min.js"></script>

        <!-- My JS Resources -->
        <!-- <script type="application/javascript" src="js/typer.js"></script> -->
        <script type="application/javascript" src="app.js"></script>
        <script type="application/javascript" src="services/contentService.js"></script>
        <script type="application/javascript" src="directives/typerDirective.js"></script>
        <script type="application/javascript" src="controllers/terminalController.js"></script>


        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    </body>
</html>
