<div class="terminalHeader">
    <span class="terminalButton darkgrey" style="background-color:#f95d3a;">
        <i class="fa fa-times terminalButtonIcon" aria-hidden="true"></i>
    </span>
    <span class="terminalButton darkgrey" style="background-color:#f9f33b; margin-left: 20px">
        <i class="fa fa-minus terminalButtonIcon" aria-hidden="true"></i>
    </span>
    <span class="terminalButton darkgrey" style="background-color:#3af94d;  margin-left: 40px">
        <i class="fa fa-expand terminalButtonIcon" aria-hidden="true"></i>
    </span>
    <span class="terminalHeaderText darkgrey">Terminal - 310 x 320</span>
</div>
<ul class="terminalContainer" ng-controller="terminalController">
    <li ng-repeat="command in terminalCommandList">
        <div ng-show="terminalCommand == $index && command.show">
            <input-line></input-line>
            <input-type text="command.input" delay="command.delay"></input-type>
        </div>
        <div ng-if="terminalCommand > $index">
            <input-line></input-line>
            <span style="color:#FFF">{{command.input}}<br/></span>
            <span ng-repeat="output in command.outputList" 
                ng-init="delayOutput($parent.$index, $index)"
                ng-show="output.show">
                &ensp;<span class="preserveWhiteSpace">{{output.line}}</span><br/>
                <span ng-if="$last" ng-init="delayInput()"></span>
            </span>
        </div>
    </li>
    <li ng-if="demoCommandsComplete">
        <input-line></input-line>
        <input-type text="''" delay="1"></input-type>
    </li>
</ul>
