<div layout="row" layout-align="center center" layout-xs="column" style="margin-top:20px">
    <div flex-xs="90" flex-gt-xs="45" class="contentRow" layout="row" layout-align="center center">
        <span flex-xs="5" flex-gt-xs=""></span>
        <tile-flip image-path="tiles[0].imagePath"
            tile-header="tiles[0].header"
            tile-intro="tiles[0].intro">        
        </tile-flip>
        <div flex-xs="10" flex-gt-xs="16" flex-sm="20" flex-gt-sm="20"></div>
        <tile-flip image-path="tiles[1].imagePath"
            tile-header="tiles[1].header"
            tile-intro="tiles[1].intro">        
        </tile-flip>
        <div flex-xs="5" flex-gt-xs="8" flex-sm="10" flex-gt-sm="10"></div>
    </div>
    <div flex-xs="90" flex-gt-xs="45" class="contentRow" layout="row" layout-align="center center">
        <div flex-xs="5" flex-gt-xs="8"; flex-sm="10" flex-gt-sm="10"></div>
        <tile-flip image-path="tiles[2].imagePath"
            tile-header="tiles[2].header"
            tile-intro="tiles[2].intro">        
        </tile-flip>
        <div flex-xs="10" flex-gt-xs="16"; flex-sm="20" flex-gt-sm="20"></div>
        <tile-flip image-path="tiles[3].imagePath"
            tile-header="tiles[3].header"
            tile-intro="tiles[3].intro">        
        </tile-flip>
        <span flex-xs="5" flex-gt-xs=""></span>
    </div>
</div>
